* {
  box-sizing: border-box;
}

#root,
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
}